[submodule "scripts/iBlqzed/GametestExamples"]
	path = scripts/GametestExamples
	url = https://github.com/iBlqzed/GametestExamples.git
[submodule "scripts/smell-of-curry/portfolio"]
	path = scripts/portfolio
	url = https://github.com/Bedrock-Gamtest/portfolio.git
[submodule "scripts/smell-of-curry/Smelly-Anti-Cheat"]
	path = scripts/Smelly-Anti-Cheat
	url = https://github.com/Smelly-API/Smelly-Anti-Cheat.git
[submodule "scripts/smell-of-curry/Smelly-API"]
	path = scripts/Smelly-API
	url = https://github.com/Smelly-API/Smelly-API.git
[submodule "scripts/mrpatches123/patchy-api"]
	path = scripts/patchy-api
	url = https://github.com/mrpatches123/patchy-api
[submodule "scripts/MCBE-Utilities/BeAPI"]
	path = scripts/BeAPI
	url = https://github.com/MCBE-Utilities/BeAPI.git
