name: CI

on: 
  push:
    branches:
      - main
  pull_request:

jobs:
  type-check:
    name: 'Type Check'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: npm install
        run: |
          pwd && npm install
          find ./scripts/* -maxdepth 2 -name package.json -execdir sh -c 'pwd && npm install' \;
          find ./docs/* -maxdepth 5 -name package.json -execdir sh -c 'pwd && npm install' \;

      - name: Build tsc
        run: tsc --build --verbose

  format-check:
    name: 'Format Check'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.GH_PAT }}

      - name: npm install
        run: npm install

      - name: Build tools
        run: npm run tools

      - name: Format Check
        run: node ./tools/index.js

      - name: Try commit
        uses: EndBug/add-and-commit@v9
        with:
          add: 'scripts'
