name: CI

on: 
  push:
    branches:
      - main
  pull_request:
  schedule: 
    ## run action every sunday at 20:00 UTC
    - cron: "00 20 * * 0"

jobs:
  checks:
    name: 'Script Check'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: npm install
        run: |
          pwd && npm install
          find ./scripts/* -maxdepth 2 -name package.json -execdir sh -c 'pwd && npm install' \;
          find ./docs/* -maxdepth 5 -name package.json -execdir sh -c 'pwd && npm install' \;

      - name: Type Check
        run: tsc --build --verbose

      - name: Format Check
        run: node ./tools/index.js
        env:
          event_name: ${{ github.event_name }}

      - name: Create Pull Request
        if: ${{ github.event_name == 'schedule' }}
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: Upload generated files
          title: Upload generated files for scripts
          body: Transpiled TypeScript files and created README files, please review.
          labels: scripts
          branch: scripts/update
          base: main
          author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
