name: gametest

on: [push, pull_request]

jobs:
  gametest:
    name: 'Script Debug'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: npm install
        run: |
          npm install
          find ./scripts/* -maxdepth 2 -name package.json -execdir pwd && npm install \;
          find ./utilities/* -maxdepth 2 -name package.json -execdir pwd && npm install \;

      - name: tsc debug
        run: tsc
