name: 'Link Checker'

on: 
  push:
    branches:
      - main
  pull_request:
    types: [ labeled ]


jobs:
  markdown-link-check:
    if: ${{ (github.event.label.name == 'docs' && github.event_name == 'pull_request') || github.event_name == 'push' }}
    name: 'Check Links'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Markdown links check
        uses: ruzickap/action-my-markdown-link-checker@v1
