name: markdown-link-check

on: [push, pull_request]

jobs:
  markdown-link-check:
    if: ${{ github.event.label.name == 'docs' }}
    name: 'Link Checker'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Markdown links check
        uses: ruzickap/action-my-markdown-link-checker@v1